body{
   margin: 0;
   padding: 0;
}

h1,h2,h3,h4,h5,h6{
   margin: 0;
   padding: 0;
}

a,div,p,span,input,button,form{
   box-sizing: border-box;
}

a{
   margin: 0;
   padding: 0;
   text-decoration: none;
}

p{
   margin: 0;
   padding: 0;
}

.conteiner{
   max-width: 1225px;
   width: 100%;
   margin: 0 auto;
}